@page "/"
@using Mud.Data


<h1>Hello, world!</h1>

<div>
    <MudBlazor.MudDataGrid @ref="mudDataGrid" T="Product" Items="@_products" 
                           ReadOnly="false" EditMode="DataGridEditMode.Cell" Filterable="true" SortMode="SortMode.Multiple"
                           Groupable="true" Hover="false" Dense="true" Striped="true" Bordered="true"
                           FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"> 
        <Columns>
            <PropertyColumn Property="p => p.Id" />
            <PropertyColumn Property="p => p.Brand" />
            <PropertyColumn Property="p => p.Name" />
            <PropertyColumn Property="p => p.Description" />
            <PropertyColumn Property="p => p.Quantity" />
            <PropertyColumn Property="p => p.Price" />
        </Columns>
        <PagerContent>
            <MudDataGridPager T="Product" />
        </PagerContent>
    </MudBlazor.MudDataGrid>
</div>

@code {

    List<IProduct> _iProducts = new List<IProduct>();
    List<Product> _products = new List<Product>();
    private MudDataGrid<Product> mudDataGrid;

    protected override void OnInitialized()
    {
        _iProducts = Mud.Data.TestIProducts.GetTestProducts();
        _products = _iProducts.Cast<Product>().ToList();
    }
}





